/* ======================================== */
/* =                                      = */
/* =          Breakpoint Settings         = */
/* =                                      = */
/* ======================================== */
/*
.
.     Defines breakpoint variables
.      
*/
/* ======================================== */
/* =                                      = */
/* =               Normalize              = */
/* =                                      = */
/* ======================================== */
/*
.
.     Normalize CSS for HTML elements:
.     Document | Section/Text Block | Inline | Media | Presentation | Form | Table
.      
*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

address {
  font-style: normal;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 0.75em;
}

sub,
sup {
  font-size: 0.5em;
  line-height: 0;
  position: relative;
  vertical-align: super;
  padding: 0 0.25em;
}

sup {
  top: -0.1em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  width: auto;
  height: auto;
  max-width: 100%;
}

svg {
  shape-rendering: geometricPrecision;
  width: 1em;
  height: 1em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* ======================================== */
/* =                                      = */
/* =              Button Base             = */
/* =                                      = */
/* ======================================== */
/*
.
.     Base styles for button elements
.      
*/
button, .btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  position: relative;
  padding: 0.5em 1em;
  margin: 0 .125rem;
  background: #ccc;
}

button:hover, .btn:hover {
  background-color: black;
  color: white;
}

button:hover svg, .btn:hover svg {
  fill: white;
}

/* ======================================== */
/* =                                      = */
/* =             Content Base             = */
/* =                                      = */
/* ======================================== */
/*
.
.     Base styles for content elements
.     h1 -> h6 | p | img
.      
*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  color: black;
  font-family: "Rubik", Helvetica, sans-serif;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.8rem;
  font-weight: normal;
}

h1, .h1 {
  font-size: 2.125em;
  line-height: 1.25;
  margin-bottom: 2rem;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.154;
  margin-bottom: 1.5rem;
}

h3, .h3 {
  font-size: 1.5em;
  line-height: 1.136;
}

h4, .h4 {
  font-size: 1.375em;
  line-height: 1.12;
}

h5, .h5 {
  font-size: 1.125em;
  line-height: 1.1;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

img {
  line-height: 0;
}

/* ======================================== */
/* =                                      = */
/* =              Layout Base             = */
/* =                                      = */
/* ======================================== */
/*
.
.     Base Styles for layout elements
.	html | body | nav | div | section | header | main | article | aside | footer 
.      
*/
body {
  font-family: "proxima-nova", sans-serif;
  line-height: 1.5;
  color: #585858;
  font-weight: 300;
  letter-spacing: normal;
}

section {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.c-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cecece;
}

.c-nav__list {
  margin: 0;
  list-style-type: none;
}

.c-nav__list__item {
  display: inline-block;
}

.c-nav__list__item a {
  display: inherit;
  text-align: center;
  padding: .5em;
  min-width: 4em;
  text-decoration: none;
  color: black;
}

.c-nav__list__item a:hover {
  background: #ebebeb;
}

.c-nav__list__item.c-nav__list__item--active a {
  background: white;
}

.c-heading__block {
  max-width: 60rem;
  padding: 1.5rem 1.5rem 1rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-heading__block > *:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.c-heading__block svg {
  width: 0.75em;
  height: 0.75em;
}

@media screen and (min-width: 32em) {
  .c-heading__block {
    padding: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 50em) {
  .c-heading__block {
    padding: 3.125rem 1.125rem;
  }
}

@media screen and (min-width: 32em) {
  .c-heading__block__header {
    width: 65%;
  }
  .c-heading__block__header:last-child {
    text-align: center;
    width: 100%;
  }
}

.c-heading__block__header h1, .c-heading__block__header h2, .c-heading__block__header h3, .c-heading__block__header h4, .c-heading__block__header h5, .c-heading__block__header h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-heading__block__header p {
  margin: 1.8rem 0 0;
  line-height: 1;
}

.c-tabView .u-inner {
  padding-bottom: 0;
}

.c-tabView__externals {
  display: block;
  padding: 0 1.5rem;
  line-height: 2.75;
}

@media screen and (min-width: 32em) {
  .c-tabView__externals {
    display: none;
  }
}

.c-tabView__tabs {
  text-align: center;
  padding: 0;
}

.c-tabView__tabs ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-height: 3.25em;
  width: 100%;
}

.c-tabView__tabs ul li {
  margin: 0;
  padding: 0.875em 1.5rem;
  font-weight: normal;
  background-color: #353535;
  text-align: left;
}

.c-tabView__tabs ul li svg {
  vertical-align: -0.125em;
}

.c-tabView__tabs ul li:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.c-tabView__tabs ul li.-active {
  background-color: #353535;
  color: black;
  display: none;
}

.c-tabView__tabs ul li.-active svg {
  fill: black;
}

.c-tabView__tabs ul li[data-href] {
  background-color: #63666A;
  display: none;
}

@media screen and (min-width: 32em) {
  .c-tabView__tabs ul li[data-href] {
    display: block;
  }
}

.c-tabView__tabs ul .mobileReserve {
  cursor: pointer;
  background-color: black;
  color: white;
}

.c-tabView__tabs ul .mobileReserve:hover {
  color: white;
}

.c-tabView__tabs ul .mobileReserve svg {
  fill: white;
  float: right;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 1.25em;
  height: 1.25em;
}

.c-tabView__tabs ul.open {
  max-height: 100vh;
  z-index: 999;
}

.c-tabView__tabs ul.open .mobileReserve svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 32em) {
  .c-tabView__tabs {
    padding: 0;
    height: auto;
  }
  .c-tabView__tabs ul {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .c-tabView__tabs ul li {
    padding: 0.875em 4vw;
    background-color: transparent;
  }
  .c-tabView__tabs ul li:hover {
    background-color: #282828;
  }
  .c-tabView__tabs ul li.-active {
    background-color: white;
    display: block;
  }
  .c-tabView__tabs ul .mobileReserve {
    display: none;
  }
}

@media screen and (min-width: 113em) {
  .c-tabView__tabs ul li {
    padding: 0.875em 3.25vw;
  }
}

.c-tabView__content {
  background-color: white;
  padding: 1.5em 0;
  color: #282828;
}

.c-tabView__content h1, .c-tabView__content h2, .c-tabView__content h3, .c-tabView__content h4, .c-tabView__content h5, .c-tabView__content h6 {
  color: #282828;
}

.c-tabView__content h5, .c-tabView__content p {
  color: #585858;
}

.c-tabView__content .input-cta {
  color: red;
}

.c-tabView__content > * {
  display: none;
}

.c-tabView__content > *.show {
  display: block;
}

@media screen and (min-width: 32em) {
  .c-tabView__content {
    padding: 2em 0;
  }
}

.c-tabView__content__block ul li {
  color: #585858;
}

/* ======================================== */
/* =                                      = */
/* =             Red Theme Base           = */
/* =                                      = */
/* ======================================== */
/*
.
.     Base Theme Checklist used as starting point
.      
*/
.t-red, .theme-red {
  background-color: #a20520;
  color: #dfdddd;
}

.t-red h1, .t-red h2, .t-red h3, .t-red h4, .t-red h5, .t-red h6, .t-red strong, .theme-red h1, .theme-red h2, .theme-red h3, .theme-red h4, .theme-red h5, .theme-red h6, .theme-red strong {
  color: #ffffff;
}

.t-red p, .t-red li, .theme-red p, .theme-red li {
  color: #dfdddd;
}

.t-red a, .theme-red a {
  color: #eeaa06;
}

.t-red hr, .theme-red hr {
  border-color: #dfdddd;
}

.t-red svg, .theme-red svg {
  fill: #ffffff;
}

.t-red .btn, .theme-red .btn {
  background-color: #000000;
  color: #ffffff;
}

.t-red .btn:hover, .theme-red .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.t-red .btn:hover svg, .theme-red .btn:hover svg {
  fill: #000000;
}

/* ======================================== */
/* =                                      = */
/* =            Black Theme Base          = */
/* =                                      = */
/* ======================================== */
/*
.
.     Base Theme Checklist used as starting point
.      
*/
.t-black, .theme-black {
  background-color: #000000;
  color: #dfdddd;
}

.t-black h1, .t-black h2, .t-black h3, .t-black h4, .t-black h5, .t-black h6, .t-black strong, .theme-black h1, .theme-black h2, .theme-black h3, .theme-black h4, .theme-black h5, .theme-black h6, .theme-black strong {
  color: #ffffff;
}

.t-black p, .t-black li, .theme-black p, .theme-black li {
  color: #dfdddd;
}

.t-black a, .theme-black a {
  color: #eeaa06;
}

.t-black hr, .theme-black hr {
  border-color: #dfdddd;
}

.t-black svg, .theme-black svg {
  fill: #ffffff;
}

.t-black .btn, .theme-black .btn {
  background-color: #a20520;
  color: #ffffff;
}

.t-black .btn:hover, .theme-black .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.t-black .btn:hover svg, .theme-black .btn:hover svg {
  fill: #000000;
}

.u-inner {
  max-width: 60rem;
  padding: 0 1.5rem 1.5rem;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */