<!-- Heading Component -->
<div class="c-heading t-red">
    <div class="c-heading__block">
        <div class="c-heading__block__header">
            <h2>Build Test Here</h2>
        </div>
    </div>
</div>


<!-- Tabs Component -->
<div class="c-tabView">
    <nav class="c-tabView__tabs t-black">
        <ul role="tablist">
            <li>Layout Structure</li>
            <li>Card Components</li>
        </ul>
    </nav>
    <div class="c-tabView__content">
        <div class="c-tabView__content__block u-inner">

                <section class="wrapper">
<div class="row">
                    <!-- Single Column -->
                        <h1>Single Column!</h1>
                        <img src="/images/web/placeimg_1000_350_any.jpg"> 

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            
                                <ul>
                                    <li>Lorem Ipsum is simply dummy</li>
                                    <li>Lorem Ipsum is simply dummy</li>
                                    <li>Lorem Ipsum is simply dummy</li>
                                </ul>
                                    <br>
                        <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</a></p>
                        
                    <!-- Duo Column -->

                            <div class="column-6">
                                <h1>Duo Column</h1>
                                    <img src="/images/web/placeimg_1000_350_any.jpg">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                                <ul>
                                    <li>Lorem Ipsum is simply dummy</li>
                                    <li>Lorem Ipsum is simply dummy</li>
                                    <li>Lorem Ipsum is simply dummy</li>
                                </ul>
                                <br>
                                <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</a></p></div>
                            <div class="column-6">
                                    <h1>Duo Column</h1>

                                    <img src="/images/web/placeimg_1000_350_any.jpg">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p><ul>
                                    <li>Lorem Ipsum is simply dummy</li>
                                    <li>Lorem Ipsum is simply dummy</li>
                                    <li>Lorem Ipsum is simply dummy</li>
                                </ul>
                                <br><a href="#">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</a></p></div>
                         
                    <!-- Trio Column -->

                                <div class="column-4">
                                        <h1>Tri Column</h1>
                                            <img src="/images/web/placeimg_1000_350_any.jpg">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                        <ul>
                                            <li>Lorem Ipsum is simply dummy</li>
                                            <li>Lorem Ipsum is simply dummy</li>
                                            <li>Lorem Ipsum is simply dummy</li>
                                        </ul>
                                        <br><p><a href="#">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</a></p></div>

                                        <div class="column-4">
                                                <h1>Tri Column</h1>
                                                    <img src="/images/web/placeimg_1000_350_any.jpg">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>
                                                <ul>
                                                    <li>Lorem Ipsum is simply dummy</li>
                                                    <li>Lorem Ipsum is simply dummy</li>
                                                    <li>Lorem Ipsum is simply dummy</li>
                                                </ul>
                                                <br>
                                                <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</a></p></div>

                                                <div class="column-4">
                                                        <h1>Tri Column</h1>
                                                            <img src="/images/web/placeimg_1000_350_any.jpg">
                                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                        </p>
                                                        <ul>
                                                            <li>Lorem Ipsum is simply dummy</li>
                                                            <li>Lorem Ipsum is simply dummy</li>
                                                            <li>Lorem Ipsum is simply dummy</li>
                                                        </ul>
                                                        <br>
                                                        <p><a href="#">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</a></p></div>

                        </div>
                     
                    </section>



</div>

   <!-- Media Cards -->

        <div class="c-tabView__content__block u-inner">

                <section class="wrapper">
 
                        <div class="row">
                         
                            <div class="column-6">
                                    <div class="card">
                                            <img src="/images/web/card_media.jpg">
                                            <div class="card-main">
                                                    <i class="material-icons">location_on</i>
                                                <h3 class="title"> Card Title </h3>
                                                <div class="second_title"> by Author's Name </div>
                                              
                                              <div class="main-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                                              <button class="btn">Action</button>
                                              <button class="btn2">Outward <i class="fa fa-external-link" style="font-size:16px"></i></button>
                                            </div>
                                          </div>


                            </div>
                            <div class="column-6"><div class="card">
                                           <div class="card-main">
                                        <i class="material-icons">location_on</i>
                                    <h3 class="title"> Card Title </h3>
                                    <div class="second_title"> by Author's Name </div>
                                  
                                  <div class="main-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                                  <button class="btn">Action</button>
                                  <button class="btn2">Outward <i class="fa fa-external-link" style="font-size:16px"></i></button>
                                  
                                </div>
                                <img src="/images/web/card_media.jpg">
                              </div>


                </div></div>


                            <div class="column-6"><div class="card">
                                <img src="/images/web/card_media.jpg">
                                <div class="card-main">
                                        <i class="material-icons">location_on</i>
                                    <h3 class="title"> Card Title </h3>
                                    <div class="second_title"> by Author's Name </div>
                                  
                                  <div class="main-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
                                  <button class="btn">Action</button>
                                  <button class="btn2">Outward <i class="fa fa-external-link" style="font-size:16px"></i></button>                                </div>
                              </div>


                </div></div>
                         
                        </div>
                     
                    </section>        </div>
    </div>
</div>

<script src="js/base/tabs.component.js"></script>
<link rel="stylesheet" type="text/css" href="/css/grid.css"  />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!--
    IF YOU NEED TO USE JAVASCRIPT, LINK THEM HERE
    Javascript files should live in the _public/js folder
    
    <script src="js/main.js"></script>
-->

